.root {
    width:100%;
    height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    .welcome-details {
        // padding : 150px 0 0 20px;
        //margin-left: 30px;
        flex:1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        position: relative;
        .inner{
            position: absolute;
            top:50%;
            left:10%;
            transform: translateY(-50%);
            .logo {
                width : 50px;
                height : 50px;
          
                img {
                  width : 100%;
                  height : auto;
                }
        }
        }
    
        h1 {
            font-family: 'Lato', sans-serif;
    
            font-size: 60px;
    
            font-weight: 900;
    
            font-stretch: normal;
    
            font-style: normal;
    
            line-height: 1.03;
    
            letter-spacing: normal;
    
            text-align: left;
    
            color: #1cd390;
        }
    
        .tag-line {
            font-family: 'Lato', sans-serif;
    
            font-size: 18px;
    
            font-weight: 900;
    
            font-stretch: normal;
    
            font-style: normal;
    
            line-height: 1.04;
    
            letter-spacing: normal;
    
            text-align: left;
    
            color: #c3c3c3;
        }
    
        .description {
            font-family: 'Lato', sans-serif;
            width:80%;
    
            font-size: 15px;
    
            font-weight: 500;
    
            font-stretch: normal;
    
            font-style: normal;
    
            line-height: 1.44;
    
            letter-spacing: 0.9px;
    
            text-align: justify;
    
            color: #c3c3c3;
        }
    
        .buttons {
            display: flex;
            justify-content: flex-start;
            align-items: center;
    
            div:first-child {
                margin-right: 2%;
            }
    
            div:hover {
                cursor: pointer;
            }
        }
    }

    .main-cover{
        overflow: hidden;
        height : 100vh;
        width:50%;
        flex:1;
        .main-img {
          width : 100%;
          height : 100%;
        }
      }
    
}


