<div class="root">
    <div class="welcome-details">
        <div class="inner">
            <div class="logo"><img src="assets/img/logo.png" alt="logo"></div>
            <h1>Welcome</h1>
            <p class="tag-line">
                We make it easy to use, share in a safe manner
            </p>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <div class="buttons">
                <div class="btn btn-primary btn-md" style="display:none" routerLink="/signup" routerLinkActive="router-link-active" >SIGN UP</div>
                <div class="btn btn-primary btn-md" routerLink="/login">SIGN IN</div>
            </div>
        </div>
    </div>
    <div class="main-cover">
        <img src="assets/main-cover-image.png" alt="main-cover" class = "main-img">
      </div>
</div>
<app-footer></app-footer>
