<div class="doc-card">
  <div class="top">
    <div
      class="docStatus docStatus--approved"
      *ngIf="docDetail.status === 'approved'"
    >
      <i class="fas fa-check-circle"></i> Approved
    </div>
    <div
      class="docStatus docStatus--rejected"
      *ngIf="docDetail.status === 'rejected'"
    >
      <i class="fas fa-times-circle"></i> Rejected
    </div>
    <div
      class="docStatus docStatus--pending"
      *ngIf="docDetail.status === 'verified'"
    >
      <i class="fas fa-sync-alt"></i> Pending
    </div>
    <h3 class="title">{{ docDetail.name }}</h3>
    <p class="description">
      {{ docDetail.description | truncate: ["25", "..."] }}
    </p>
    <div class="depnum">{{ docDetail.dept }}</div>
    <div>&nbsp;</div>
    <div class="type">{{ docDetail.typ }}</div>
    <div class="file" onClick="showPdf()">
      <p><i class="far fa-file-alt"></i> {{ docDetail.name }}.pdf &nbsp;</p>
    </div>
    <p class="author">
      Author : <span class="author-name">{{ docDetail.creator }}</span>
    </p>
  </div>
  <hr style="width:100%" />
  <div class="bottom">
    <div class="edit">
      <a
        routerLink="/app/application/view"
        [queryParams]="{ id: docDetail.blobId }"
        ><i class="far fa-eye"></i
      ></a>
    </div>
    <div class="edit">
      <a><i class="far fa-edit"></i></a>
    </div>
    <div class="delete">
      <a><i class="far fa-trash-alt"></i></a>
    </div>
  </div>
</div>
