@import 'src/styles/my-global-variables.scss';

.doc-card{
    background-color: $white;
    display: flex;
    box-shadow: 0px 0px 25px -22px rgba(0,0,0,0.75);
    flex-direction: column;
    padding:5% 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    .top{
        width:100%;
        align-items: flex-start;

        .docStatus{
            text-align: right;
            margin-bottom: 28px;
        }
        .docStatus{
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.47;
            letter-spacing: 0.23px;

            &--approved{
                color:$primary-green;
            }
            &--pending{
                color:#ffa730;
            }
            &--rejected{
                color:maroon;
            }
        }

        h3{
            font-size: 20px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: 1.5px;
            text-align: left;
        }

        .description{
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: 0.9px;
            text-align: left;
            color: #c3c3c3;
        }

        .depnum,.type{
            display:inline-block;
            padding: 0 2%;
            font-size: 15px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.47;
            letter-spacing: normal;
            text-align: left;
            color: $white;
        }
        .depnum{
            background-color: $primary-green;
        }
        .type{
            background-color: $black;
        }

        .file{
            background-color: $light-green;
            font-size: 15px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: 0.9px;
            text-align: center;
            padding: 4% 0 1% 0;
            margin: 8% 0;
        }

        .author{
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.47;
            letter-spacing: 0.75px;
            text-align: left;
            color: #c3c3c3;
            .author-name{
                color:$primary-green;
                text-decoration: underline;
            }
        }
    }
    hr{
        color:black;
    }
    .bottom{
        width:40%;
        margin:0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 17px;
        color: #c3c3c3;
        a{
            color:#c3c3c3;
        }
    }
}
