@import 'src/styles/my-global-variables.scss';
.active-route{
  border-bottom: 2px solid $primary-green;
}
.header{
  position: fixed;
  display: flex;
  align-items: center;
  top:0;
  width: 100%;
  height: 70px;
  box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  z-index: 99;
}
.inner-header{
  width:90%;
  margin: 0 auto;
  display: flex;
}
.account-routes-cont {
  min-height: 100vh;
}
.side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__left{
    justify-content: flex-start;
    align-items: center;
    width:45%;
    .logo{
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:55%;

    .upload{
      width:30px;
      height:26px;
      cursor: pointer;
      button{
        border:none;
        background-color: $white;
      }
    }
    .navigation{
      width: 50%;
      align-items: center;
      ul{
        margin-bottom: 0 !important;
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $white;
        justify-content: space-between;
        align-items: center;
      }
      .navi-item {
        height: 100%;
        padding: 10px 0;
        a{
          font-size: 15px;
          color:$black;
          font-family: $lato-medium;
          text-decoration: none;
          list-style: none;
        }
        @media (max-width : 1920px) and  (min-width : 1290px ) {
          .navi-item {
            font-size: 10.6px;
          }  
        }
      }
      .navi-item:hover{
        border-bottom: 2px solid $primary-green;
      }
    }
    @media(max-width : 1100px) {
      .navigation {
        display: none;
      }
    }
    .profile{
      color: $black;
      align-items: center;
      justify-content: space-between;
      display: flex;
      width:20%;
      flex-direction: row;
      flex-wrap: wrap;

      &__name{
        font-family: $lato;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: left;
      }

      &__icon{
        width:37px;
        height:37px;
        border-radius: 50%;
      }

      .btn_green{
        background-color: $light-green;
        color:$primary-green;
        border: none;
       
        height:25px;
        border-radius: 3px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: left;
      }
      @media(max-width : 1920px) and  (min-width : 1290px ) {
        .profile {
          justify-content: flex-start;
          width:30%;
          &__icon{
            // width:26px;
            // height:26px;
            // border-radius: 50%;
            display: none;
          }
          .btn_green {
            
            height : 17.7px
          }
        }
      }
      @media(max-width : 1290px) {
        .profile {
          justify-content: flex-end
        }
        &__name, &__icon {
          display : none;
        }
      }
    }
  }
}
