<div class="header">
  <div class="inner-header">
    <div class="side side__left">
      <div class="logo"><a href="/"><img src="assets/img/logo.png" alt="logo"></a></div>
    </div>
    <div class="side side__right">
      <div class="upload">
        <a (click)="goUplaodPage()">
          <img src="assets/icons/upload.svg" alt="upload-icon" />
        </a>
      </div>
      <div class="navigation">
        <ul>
          <li class="navi-item item--2" routerLinkActive="active-route">
            <a routerLink="/app/users">USERS</a>
          </li>
          <li class="navi-item item--1" routerLinkActive="active-route">
            <a routerLink="/app/applications">DOCUMENTS</a>
          </li>
          <li class="navi-item item--3" routerLinkActive="active-route">
            <a routerLink="/app/setting">SETTINGS</a>
          </li>
        </ul>
      </div>
      <div class="profile">
        <div class="profile__name">Admin</div>
        <div
          class="profile__icon"
          [ngStyle]="{
            'background-image':
              'url(' + ' assets/img/example_profile_photo.jpg' + ')'
          }"
        ></div>
        <button class="btn_green" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
<div class="header-clearfix">
  &nbsp;
</div>
<div class="account-routes-cont">
  <router-outlet></router-outlet>
</div>
