@import 'src/app/components/ng-pdf-page-sign/ng-pdf-page-sign.component.scss';

// .my-container {
//     width:98%;
//     margin:0 auto;
// }
.detail {
    background-color: white;
    text-align: center;
}
::ng-deep .mat-select-content{
    width:300px;
    font-size: 15px;
}
.doc-titles {
  padding: 0 !important;
}
.title {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: 1.8px;
    text-align: left;
}

.inline-tags {
    padding-left: 0 !important;
    margin-bottom: 10px;
    vertical-align: middle;
    div {
      display: inline-block;
      font-family: 'Lato', sans-serif;
      height: 24.5px;
      padding: 4px;
      border-radius: 4px;
      color: #ffffff;
      font-size: 14px;
      margin-left: 4px;
      vertical-align: middle;
    }
    .doc {
        background-color: #d3771c;
        padding :0 3%;
    }

    .type {
        background-color: black;
        padding:0 3%;
    }

    .status {
        padding: 0 3%;
    }

}

.desc {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: 1.8px;
    text-align: left;
    color: #b3b8c3;
}

.btn-edit {
    width: 109.8px;

    height: 37px;

    border-radius: 3px;

    background-color: #d3f7ea;
}
.pdf-view {
    display: flex;
    justify-content: space-between;
}
.role {
    padding: 0;
    .signatures{
        width:95%;
        margin-left:5%;
        padding-top:5%;
        background-color: white;
        text-align: left;
    }
    min-height: 100px;
}
.com_user {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
.com_text, .com_date {
  font-size: 9pt;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: 1px;
  color: #b3b8c3 !important;
}
