<!-- <div class="progress-spinner" *ngIf="isFetching">
        <mat-spinner color='#1cd390' class="spinner-self"></mat-spinner>
</div> -->
<div class="my-container row d-flex justify-content-between">
  <div
    class="col-md-8 col-sm-12 doc-titles"
    *ngIf="PdfData"
    style="padding-left:0 !important"
  >
    <h1 class="title">{{pdf.name}}</h1>
    <h4 class="desc">{{pdf.description}}</h4>
    <hr />
    <div class="inline-tags col-md-12">
      <div class="doc">{{pdf.dept}}</div>
      <div class="type">{{pdf.typ}}</div>
      <div class="status" [style.backgroundColor]="getBackground()">
        {{setStatus()}}
      </div>
    </div>
    <!-- <div class="date">{{getDate(pdf.timestamp)}}</div> -->
  </div>
  <!-- <div class="col-md-4 col-sm-12 justify-content-end  ">
        <button
            class="btn btn-primary btn-edit"
            routerLink="/account/application"
            [state]="{data:'hello'}"
        >Edit</button>
    </div> -->
</div>
<div class="my-container row pdf-view">
  <!-- <div class="detail col-md-8 col-sm-12" *ngIf="PdfData"> -->
  <!-- <pdf-viewer
        [src]="dataURL"
        [render-text]="true"
        [original-size]="false"
        style="display: block;"
        #reader
        >
        </pdf-viewer> -->
  <!-- </div> -->
  <ng-container *ngIf="PdfData">
    <app-ng-pdf-page-sign
      [PdfData]="PdfData"
      [readOnly]="true"
      [SignatureListFromApi]="signatureList"
      [pdfCreatedAt]="pdf.timestamp"
    ></app-ng-pdf-page-sign>
  </ng-container>
  <div class="role col-md-4 col-sm-12 pull-right">
    <div class="signatures" *ngIf="signUsers">
      <!-- <div class="sign-head">
                <img src="assets/icons/user.svg" alt="icon">
                <h3>Signed Users</h3>
            </div> -->
      <mat-list>
        <h3 mat-subheader>Signatures</h3>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let sign of signUsers">
          <mat-icon
            mat-list-icon
            style="color:white"
            [style.backgroundColor]="setSignColor(sign)"
            >check circle icon</mat-icon
          >
          <h4 mat-line>{{sign}}</h4>
        </mat-list-item>
      </mat-list>
      <mat-list>
        <h3 mat-subheader>Comments</h3>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let comment of comments">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <h4 mat-line class="com_user">{{comment.signer}}</h4>
          <p mat-line class="com_text">{{comment.comment}}</p>
          <p mat-line class="com_date">{{getDate(comment.timestamp)}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
