.start-new-view {
  display: inline-block;
  padding-top: 60px;
}

.start-new-view h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 57px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: right;
  color: #252a43;
}
.start-new-view p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  text-align: right;
  color: #aaaaaa;
}

.start-now-button {
  border-radius: 3px;
  border: solid 1.3px #ff9a60;
  background-color: #ffffff;
  color: #ff9a60;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 10px 25px 10px 25px;
}
.start-now-button:hover {
  background-color: #ff9a60;
  color: #252a43;
}

.start-new-img {
  max-width: 300px;
  max-height: 300px;
}
