<div class="row">
  <div class="col-md-6 mr-auto ml-auto text-center">
    <div class="start-new-view">
      <h1>Doctor</h1>
      <p>APPLICATION</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mr-auto ml-auto text-center">
    <img class="start-new-img" src="assets/img/start_now_illustration@2x.png" />
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6 mr-auto ml-auto text-center">
    <button type="button" class="start-now-button" routerLink="/account/application">
      Start Now
    </button>
  </div>
</div>
