<div class="progress-spinner" *ngIf="isFetching">
        <mat-spinner color='#1cd390' class="spinner-self"></mat-spinner>
</div>
<div class="my-container row">
    <div class="detail col-md-6 col-sm-12">
        <div class="top " *ngIf = "user">
            <div class="profile"><i class="fas fa-user-circle"></i></div>
            <h2 class="name">{{user.name}}</h2>
            <p class="email">{{user.email}}</p>
            <p class="phone">{{user.phone}}</p>
            <h3 *ngIf="!user.roles">Default</h3>
            <h3 *ngIf="user.roles">{{user.roles }}</h3>
        </div>
        <hr/>
        <div class="bottom ">
            <div class="acc-status acc-status--1">{{user.activated? 'activated' : 'diactivated'}}</div>
            <div class="acc-status acc-status--2">{{user.disabled ? 'disabled' : 'enabled'}}</div>
            <hr/>
            <div class="created" *ngIf="user.timestamp">Created on {{getDate(user.timestamp)}}</div>
        </div>
    </div>
</div>
