.detail {
    background-color: white;
    margin: 0 auto !important;
}
::ng-deep .mat-select-content{
    width:300px;
    font-size: 15px;
}
.top{
  h3{
    margin-top: 42px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 0.9px;
    text-align: center;
    color: #1cd390;
  }
}
.profile {
  font-size: 70px;
  color:#1cd390;
  text-align: center;
}
.name {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: 1.5px;
  text-align: center;
  color: #222222;
  margin-bottom: 10px;
}
.email, .phone {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.8px;
  text-align: center;
  color: #c3c3c3;
  margin-top: 11px;
}
.acc-status {
  display: inline-block;
  color: white;
  padding: 4px;
  margin-right: 4px;
  border-radius: 4px;
  line-height: 24.5px;
  vertical-align: center;
  text-align: left !important;
  &--1{
      background-color: #222222;
  }
  &--2{
      background-color: #c3c3c3;
  }
}
.created {
  margin : 0 0 10px;
  font-size: 13px;
    line-height: 18px;
}
