.footer {
    width : 100%;
    height : 239px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .copyrights {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      h4 {
        font-family: 'Lato', sans-serif;
  
        font-size: 24px;
      
        font-weight: 900;
      
        font-stretch: normal;
      
        font-style: italic;
      
        line-height: 1.04;
      
        letter-spacing: normal;
      
        text-align: center;
      
        color: #1cd390;
      }
      p {
        font-family: 'Lato', sans-serif;
  
        font-size: 14px;
      
        font-weight: 500;
      
        font-stretch: normal;
      
        font-style: normal;
      
        line-height: 1.79;
      
        letter-spacing: 0.7px;
      
        text-align: center;
      
        color: #ffffff;
      }
    }
  }
  