<div class="footer">
    <div class="copyrights">
      <div>
          <h4>Lekana</h4>
          <p>lekana. all rights reserved, {{year}}</p>
      </div>
    </div>
    <div class="social"></div>
  </div>