<div class="my-container">

  <div class="title row">
    <h3>Users</h3>
    <div class="new-user">
      <a routerLink="/app/users/new-user">
        <img src="assets/icons/add-user.svg" class="user-icon-1" alt="" />
        <!-- <img src="assets/icons/plus.svg" class="user-icon-2">
                <img src="assets/icons/user.svg" class="user-icon-3" style="font-size: 0.8rem"> -->
      </a>
    </div>
  </div>

  <div class="row search-bar">
    <div class="col-lg-4 search">
      <span><i class="fas fa-search"></i></span>
      <input type="search" placeholder="search" [(ngModel)]="searchTerm" />
    </div>

    <div class="col-lg-1 search-btn">
      <button (click)="searchUsers($event)">Search</button>
    </div>

    <div class="col-lg-7"></div>
  </div>

  <div class="user-list row" *ngIf="users; else loading">
    <app-user
      class="col-md-4 col-lg-3 col-sm-1"
      *ngFor="let user of users"
      [user]="user"
    ></app-user>
  </div>

  <div class="row" style="margin-top:5%;">
    <div class="paginator-box col-lg-12 ">
      <mat-paginator
        #paginator
        [pageSize]="pageSize"
        [pageSizeOptions]="[15, 30, 60, 100]"
        [showFirstLastButtons]="true"
        [length]="meta.total"
        [pageIndex]="currentPage"
        (page)="handlePage($event)"
      >
      </mat-paginator>
    </div>
  </div>

  <ng-template class="spinner" #loading>Loading Users....</ng-template>
</div>
