@import 'src/styles/my-global-variables.scss';

.title{
    display: flex;
    width: 100%;
    margin: 0 0 1% 0;
    justify-content: space-between;

    h3{
        font-size: 36px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.03;
        letter-spacing: 1.8px;
        text-align: left;
    }
    .user-icon-1{
        width:38px;
        height:auto;
    }
    .user-icon-2{
        margin-bottom: 30%;
    }
    .user-icon-3{
        width:20px;
        height:auto;
    }
    @media(max-width:800px){
        .new-user{
            display: none;
        }
    }
}


.search-bar{
    margin-left: 1px;
    .search{
        // width: 35%;
        //padding: 8px;
        
        border: solid 1px #f0f0f0;
        background-color: $white;
        span{
            background-color: $white;
        }
        input{
            width: 90%;
            padding:2% 0 2% 4%;
            //padding-top: 2%;
            border:none;
        }
    }
    .search-btn{
        // width:109.8px;
        //flex : 1;
        text-align: left;
        button {
            width: 90%;
            height: 100%;
            border:none;
            border-radius: 3px;
            background-color:$primary-green;
            color: $light-green;
            font-size: 15px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;

            &:hover{
                background-color:$light-green;
                color: $primary-green;
            }
        }

    }
    .paginator-div {
        margin-left: auto;
    }
}
