@import "src/styles/my-global-variables.scss";
.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container {
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 20px 120px;
  background-color: #fff;
  width: 60%;
  padding: 5% 10%;
  margin-bottom: 5%;
  form {
    width: 100%;
  }
}
.form-group {
  width: 100%;
}
input.ng-invalid.ng-touched {
  border-left: 2px solid red;
}
input.ng-valid.ng-touched {
  border-left: 2px solid #1cd390;
}
.user-icon {
  margin-bottom: 2%;
}
h3 {
  margin-bottom: 2%;
  font-size: 36px;
}
form {
  width: 26%;
}
@media (max-width: 900px) {
  form {
    width: 100%;
  }
}

// .form-control{
//     border:none;
// }

.btn-success {
  background-color: $light-green;
  color: $primary-green;
  border: none;

  &:hover {
    background-color: $primary-green;
    color: $light-green;
  }
}

.btn-info {
  background-color: #c3c3c3;
  color: $black;
  border: none;
  &:hover {
    background-color: #949494;
    color: $white;
  }
}
