<div class="user-card" *ngIf="user" [ngStyle]="style">
  <div class="user-card__details">
    <i
      class="fas fa-user-circle"
      style="font-size: 70px; align-content:center;color:#1cd390;"
    ></i>
    <h5>{{ user.name }}</h5>
    <p class="email">{{ user.id }}</p>
    <p class="phone">{{ user.phone }}</p>
    <div class="documents" *ngIf="user.roles">
      {{ user.roles }}
    </div>
    <div class="documents" *ngIf="!user.roles">
      Defualt
    </div>
  </div>
  <hr style="width: 80%;" />
  <div class="user-card__actions">
    <div class="view">
      <a routerLink="/app/user" [queryParams]="{ accountId: user.id }"
        ><i class="far fa-eye"></i
      ></a>
    </div>
    <div class="edit">
      <a routerLink="/app/user/edit" [queryParams]="{ accountId: user.id }"
        ><i class="far fa-edit"></i></a>
    </div>
    <div class="delete" (click)="deleteUser()"  *ngIf="user.roles !== 'admin'">
      <a><i class="far fa-trash-alt"></i></a>
    </div>
  </div>
</div>
