@import 'src/styles/my-global-variables.scss';
.user-card{
    width:100%;
    margin-top: 15%;
    box-shadow: 0px 0px 25px -22px rgba(0,0,0,0.75);
    background-color: $white;

    &__details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 5% 0;
        .avatar{
            width:66px;
            height:66px;
        }
        .avatar-img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
        h5{
          font-size: 20px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
          letter-spacing: 1.5px;
          text-align: center;
          color: #222222;
          margin-bottom: 10px;
        }
        .email, .phone{
          font-size: 15px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.47;
          letter-spacing: 0.8px;
          text-align: center;
          color: #c3c3c3;
          margin-top: 11px;
        }
        .documents{
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: 0.9px;
            text-align: center;
            color: $primary-green;

            // &__count{
            //     background-color: $primary-green;
            //     color:$white;
            //     width:20px;
            //     height: 20px;
            //     line-height: 20px;
            //     border-radius: 50%;
            //     display: inline-block;
            //     text-align: center;
            // }
        }
    }

    &__actions{
        width:40%;
        margin:0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color:#c3c3c3;
        transition: transform 3s;
        padding:5% 0;
        a{
            font-size: 15px;
            color:#c3c3c3;
        }
        :hover{
            transform: scale(1.2);
        }
        :active{
            transform: scale(1);
        }
    }
}
