<div class="progress-spinner" *ngIf="isSubmiting">
  <mat-spinner color="#1cd390" class="spinner-self"></mat-spinner>
</div>
<div class="my-container" *ngIf="formState == 1">
  <div class="upload-form" appDragNdrop (onFileDropped)="uploadFile($event)">
    <h2>Upload Document</h2>
    <input
      type="file"
      #comfileInput
      accept="application/pdf"
      style="display:none;position: absolute;"
      (change)="uploadFile($event.target.files)"
    />
    <div class="images">
      <img
        src="assets/icons/up1.svg"
        style="width:101px;height:101px;"
        class="img img--4"
        alt=""
      />
    </div>
    <h3 class="drag-text">Drag and Drop files</h3>
    <button
      class="btn btn-primary btn-lg"
      style="width:40%"
      (click)="comfileInput.click()"
    >
      UPLOAD FILES
    </button>
    <p class="note">max file size is 10mb</p>
  </div>
</div>

<ng-container *ngIf="formState == 2">
  <div style="padding-left: 75px">
      <app-ng-pdf-page-sign [PdfData]="file.dataurl"></app-ng-pdf-page-sign>
  </div>
</ng-container>

<!-- <div class="my-container document-info" *ngIf="formState == 2">
  <div class="row">
    <div class="col-md-2 mr-auto ml-auto mb-2">
      <div class="buttons">
        <button class="btn btn-primary btn-md" (click)="previousPageOfPdf()">
          Back
        </button>
        <p>{{ pageNumber }}</p>
        <button class="btn btn-primary btn-md" (click)="nextPageOfPdf()">
          Next
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="pdf-container" style="position: relative;" #pdfContainer>
        <pdf-viewer
          [src]="file.dataurl"
          [render-text]="true"
          style="display: block;"
          [show-all]="false"
          [(page)]="pageNumber"
          #reader
          (click)="getMouseLocation($event)"
        >
        </pdf-viewer>
        <ng-container *ngFor="let sign of signatures">
          <div
            class="model showCircle"
            [ngStyle]="{
              'bottom.px': (sign.Y * sign.parentHeight) / 100 - 50,
              'left.px': (sign.X * sign.parentWidth) / 100
            }"
            *ngIf="sign.X > 0 && sign.Y > 0 && pageNumber === sign.page"
          >
            Sign of {{ sign.uid }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="form-container">
    <h3 class="form-title">Document Information</h3>
    <form [formGroup]="docForm" (ngOnSubmit)="submit()">
      <div class="form-group">
        <input
          class="form-control form-control-lg "
          formControlName="docName"
          type="text"
          placeholder="Document Name"
        />
      </div>
      <div class="form-group ">
        <select
          class="custom-select mr-sm-2 form-control form-control-lg"
          id="inlineFormCustomSelect"
          formControlName="dept"
          placeholder="Select Department123s"
        >
          <optgroup>
            <option value="selected" selected>Select Department...</option>
            <option *ngFor="let dep of departments" [ngValue]="dep">{{
              dep
            }}</option>
          </optgroup>
        </select>
      </div>
      <div class="form-group ">
        <select
          class="custom-select mr-sm-2"
          id="inlineFormCustomSelect"
          formControlName="typ"
        >
          <optgroup>
            <option selected>Select Type...</option>
            <option value="purchase_agreements">Purchase Agreements</option>
            <option value="distributor_agreements"
              >Dsitributor Agreements</option
            >
            <option value="addendum">Addendum</option>
            <option value="other">Other</option>
          </optgroup>
        </select>
      </div>
      <div class="form-group ">
        <textarea
          class="form-control form-control-lg"
          rows="3"
          placeholder="Comment"
          aria-describedby="textAreaTextLimit"
          formControlName="docDesc"
        ></textarea>
        <small
          id="textAreaTextLimit"
          class="form-text text-muted"
          style="font-size:1rem"
        >
          Max 120 Characters
        </small>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Tags</mat-label>
          <mat-select formControlName="tags" multiple>
            <mat-option *ngFor="let tag of docTags" [value]="tag">{{
              tag
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group"></div>
      <mat-form-field>
        <label matLabel>Add User</label>
        <input type="text" matInput [formControl]="users" />
      </mat-form-field>

      <mat-option
        *ngFor="let user of fetchedUsers"
        [value]="user.id"
        (click)="setSelected(user.id)"
        >{{ user.id }}</mat-option
      >

      <div class="selected" *ngIf="selectedUser">
        <p>Currently Selected</p>
        <mat-option [value]="selectedUser">{{ selectedUser }}</mat-option>
      </div>

      <div class="doc-users" *ngIf="signatures.length > 0">
        <p>All users</p>
        <mat-option
          *ngFor="let sign of signatures"
          [value]="sign.uid"
          (click)="setSelectedFromList(sign.uid)"
          >{{ sign.uid }} - sign <span *ngIf="!sign.hasSigned">&#10060;</span
          ><span *ngIf="sign.hasSigned">&#10004;</span></mat-option
        >
      </div>
      <div class="form-group"></div>
      <div class="float-sm-right">
        <button class="btn-info btn btn-lg" type="button">Cancle</button>
        <span>&nbsp; &nbsp; &nbsp;</span>
        <button class="btn-success btn btn-lg" type="submit" (click)="submit()">
          Save
        </button>
      </div>
    </form>
  </div>
</div> -->
