@import 'src/styles/my-global-variables.scss';
@import 'src/app/pages/user-page/new-user/new-user.component.scss';

:host {
  background-color: #ffffff;
}
::placeholder,textarea::placeholder{
  color:#251919 !important;
}

.title {
  padding: 10px;
  text-align: left;
}
optgroup { font-size:1.2rem; }

select{
  border: none;
  color:#c3c3c3 !important;
  font-size: 15px;
}
input, select .ng-invalid.ng-touched {
  border-left : 2px solid red
}
input, select .ng-valid.ng-touched {
  border-left : 2px solid #1cd390
}
.document-info {
  display : flex;
  flex-direction: row;
  align-items: flex-start;
  width : 90%;
  margin : 0 auto;
  .pdf-container {
    flex : 3;
  }

  .form-container {
    flex : 1;
    form {
      width: 100% !important;
    }
  }
}
.buttons {
  display : flex;
  width : 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin : 5% auto 2% auto;

  p {
    font-weight: 700;
    margin: 0 1%;
  }
}
// .pdfViewer.removePageBorders .page {
//   margin : 0 0 10px !important; // overide margin of inner div(.page) of pdf-viewer module
// }
.upload-form {
  width : 47.39vw;
  min-height : 65vh;
  margin : 0 auto;
  background-color:#e6f9f3;
  border : 2px dashed $primary-green;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2{
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 1.5px;
  text-align: center;
  color:$primary-green;
  padding-top: 5%;
}
.images{
  padding-top: 5%;
}
.drag-text{
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  padding: 5%;
  color:$primary-green;
}
.note{
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: $black;
  padding-top: 3%;
}

.form-title{
  font-size : 20px;
  padding: 0 !important;
  margin-bottom: 5%;
}


.item-view {
  border-radius: 3px;
  border: solid 1px #e8e8e8;
  padding: 20px 20px 20px 20px;
  margin: 10px;
  text-align: center;
}
.item-view p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #252a43;
  margin-bottom: 5px;
  padding-top: 5px;
}
.item-upload-button {
  border-radius: 3px;
  border: solid 1.3px #ff9a60;
  background-color: #ff9a60;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 10px 25px 10px 25px;
}
.item-upload-button:hover {
  background-color: #252a43;
  color: #ff9a60;
}

.finish-button {
  border-radius: 3px;
  border: solid 1.3px #ff9a60;
  background-color: #ffffff;
  color: #ff9a60;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 10px 30px 10px 30px;
}
.finish-button:hover {
  background-color: #ff9a60;
  color: #252a43;
}
.form-steps-inputs {
  border: solid 1.3px #eceef0;
  background-color: #ffffff;

  -webkit-appearance: none;
  margin-top: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 2px;
  font-size: 14px;
  color: #252a43;
  height: 40px;
  width: 100%;
  margin: 0;
  transition: 0.3s;
  box-shadow: inset 0 0 0 none;
}

.my-select {
  border: solid 1.3px #eceef0;
  background-color: #ffffff;
  height: 40px;
}
.my-select:invalid,
input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #cbcbcb !important;
}

textarea:focus,
.my-select:focus,
input[type='email']:focus,
input[type='text']:focus,
.uneditable-input:focus {
  border-color: rgba(#ff9a60, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(#ff9a60, 0.6);
  outline: 0 none;
}

.my-select option {
  color: #252a43;
}

.step-form {
  margin-top: 40px;
  width: 100%;
  padding: 45px;
  border-radius: 3px;
  border: solid 1px #e8e8e8;
}

.next-button {
  border-radius: 3px;
  border: solid 1.3px #ff9a60;
  background-color: #ffffff;
  color: #ff9a60;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 10px 25px 10px 25px;
}
.next-button:hover {
  background-color: #ff9a60;
  color: #252a43;
}

.stepper-indicator-view {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.stepper-indicator.item {
  // font-family: 'Roboto Slab', serif;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #aaaaaa;
  background-color: #eceef0;
  // padding: 10px;
  padding: 8px 9px 6px 9px;
  border-radius: 50%;
}
.stepper-indicator.done {
  color: #ffffff;
  background-color: #252a43;
}
.stepper-indicator.line {
  width: 100%;
  border-bottom: solid 4px #eceef0;
  background-color: #ffffff;
  height: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.form-footer {
  padding-top: 80px;
}
.preview-icon {
  margin-right: 8px;
}
.showCircle {
  position : absolute;
  width : 200px;
  height : 50px;
  border-radius : 50%;
  border-top-left-radius : 0;
  background-color : #1cd390;
  opacity : 1;
  text-align: center;
  vertical-align: middle;
line-height: 50px;
  font-weight : 700;
  font-family : 'Lato', sans-serif;
  font-size : 1rem;
  color : white 
}