$my-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
$my-box-shadow-lg: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$my-logo-primary: #f04939;
$my-logo-secondary: #b2b2b2;

$my-primary-color: #9b2135;
$my-secondary-color: #f35241;

$my-primary-black-color: #000000;
$my-primary-white-color: #fefefe;
$my-primary-black-color2: #181818 !important;

$my-yellow-color1: #f8c12c;
$my-yellow-color2: #fe9800;

$my-font-family-Poppins: 'Poppins', sans-serif;

//new variables

$white : #ffffff;
$black : #222222;
$light-green : #d3f7ea;
$primary-green : #1cd390;

$lato : 'Lato', sans-serif;
$lato-heavy : 'Lato-Heavy', sans-serif;
$lato-heavyitalic: 'Lato-HeavyItalic', sans-serif;
$lato-medium: 'Lato-Medium', sans-serif;

.my-pc {
  color: $my-primary-color;
}

.my-fa-style-size1 {
  font-size: 25px;
}
