@import "~@angular/material/theming";
@include mat-core();

$my-app-primary: mat-palette($mat-green, 200);
$my-app-accent: mat-palette($mat-blue, 600);
$my-app-warn: mat-palette($mat-red, 600);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
