input.ng-invalid.ng-touched {
  border-left: 2px solid red;
}
h3 {
  text-align: center;
  margin: 5% 0;
}
.inner {
  width: 60%;
  padding: 5% 0;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  h4 {
    text-align: center;
  }
  form {
    width: 50%;
    margin: 0 auto;
  }
}
