<div class="my-container">
  <h3>Change Password</h3>
  <div class="inner">
    <form [formGroup]="passwordChange" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="sr-only">Current Password</label>
        <input
          type="password"
          class="form-control mb-2"
          id="inlineFormInput"
          placeholder="Current Password"
          formControlName="current"
        />
      </div>
      <div class="form-group">
        <label class="sr-only">New Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="New Password"
          formControlName="new"
        />
      </div>
      <div class="form-group">
        <label class="sr-only" for="inlineFormInputGroup"
          >Confirm New Password</label
        >
        <input
          type="password"
          class="form-control"
          placeholder="Confirm New Password"
          formControlName="confirm"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
      <div *ngIf="submitted && f.confirm.errors" class="invalid-feedback">
        <div *ngIf="f.confirm.errors.required">
          Confirm Password is required
        </div>
        <div *ngIf="f.confirm.errors.mustMatch">Passwords must match</div>
      </div>
    </form>
  </div>
</div>
