@import "src/styles/my-global-variables.scss";
:host {
  background-color: #252a43 !important;
}
.active-link {
  background: $my-primary-color !important;
  font-weight: 600;
}

.example-sidenav {
  width: 210px;
  margin-top: 50px;
  position: fixed;
}

.router-cont {
  min-height: 100vh;
  max-width: 100vw !important;
  padding: 0 !important;
  overflow-x: hidden;
}

table {
  width: 100% !important;
}
td {
  padding-top: 8px !important;
  padding-bottom: 16px !important;
}
.table-cont {
  padding: 16px 16px 16px 16px;
}

.details-panel {
  max-width: 400px;
  margin: 10px 10px 10px 0px;
}

.photo-small {
  max-width: 120px;
  max-height: 120px;
  margin: 10px 10px 10px 10px;
}
p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.mat-row:nth-child(even) {
  background-color: #fefefe;
}

.mat-row:nth-child(odd) {
  background-color: $my-secondary-color;
}

.db-card-md {
  border-radius: 8px;
  min-height: 120px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.db-card-md .title {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.db-card-md .value {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}

.text-primary {
  color: $my-primary-color !important;
}
.text-secondary {
  color: $my-secondary-color !important;
}

.bg-primary {
  background-color: $my-primary-color !important;
}
.bg-secondary {
  background-color: $my-secondary-color !important;
}

.progress-loader {
  color: $primary-green;
  position: absolute;
  top: 48vh;
  left: 48vw;
  z-index: 999999;
  background: #00000078;
  padding: 8px;
  border-radius: 20px;
}

.mat-progress-spinner circle,
.mat-spinner circle,
.mat-progress-spinner circle,
.mat-spinner circle .mat-progress-spinner circle,
.mat-spinner circle {
  color: $primary-green !important;
  stroke: $primary-green !important;
}

.progress-loader ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $primary-green;
}
