<div class="router-cont">
  <router-outlet></router-outlet>
</div>
<div *ngIf="appContextService.LastPrograssbarValue" class="progress-loader">
  <mat-spinner></mat-spinner>
</div>
<!-- <div>
  <mat-toolbar class="user-panel-header example-header">
    <button mat-button (click)="toggleSideNav()">
      <mat-icon aria-label="side nav">settings</mat-icon> User Panel
    </button>

    <span class="example-spacer"></span>
    Account
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
      <mat-nav-list>
        <mat-list-item
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a matLine>Dashboad</a>
        </mat-list-item>
        

        <mat-list-item (click)="logout()" style="margin-top:20px !important;">
          <a matLine>Logout</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="router-cont">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div> -->
