<div class="doc-container">
  <div class="row-line">
    <div [ngStyle]="{ width: pdfSize.width + 'px' }">
      <div class="row">
        <div class="col-md-12" *ngIf="pageLoaded">
          <div class="row" style="align-items: baseline;">
            <div class="col-md-12">
              <button
                mat-button
                [ngClass]="
                  scale == 1 ? 'selected-btn-112' : 'non-selected-btn-112'
                "
                [disabled]="scale == 1"
                (click)="pageChangeAndRedraw(1)"
              >
                100%
              </button>
              <button
                mat-button
                [ngClass]="
                  scale == 1.25 ? 'selected-btn-112' : 'non-selected-btn-112'
                "
                [disabled]="scale == 1.25"
                (click)="pageChangeAndRedraw(1.25)"
              >
                125%
              </button>
              <button
                mat-button
                [ngClass]="
                  scale == 1.5 ? 'selected-btn-112' : 'non-selected-btn-112'
                "
                [disabled]="scale == 1.5"
                (click)="pageChangeAndRedraw(1.5)"
              >
                150%
              </button>
              <button
                mat-icon-button
                style="color:#1cd390"
                (click)="previousPageOfPdf()"
                [disabled]="pageNumber < 2"
              >
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>

              <button mat-icon-button style="color:#1cd390" disabled>
                {{ pageNumber }} of {{ totalPages }}
              </button>
              <button
                mat-icon-button
                style="color:#1cd390"
                [disabled]="pageNumber >= totalPages"
                (click)="nextPageOfPdf()"
              >
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
              <button mat-button class="selected-btn-112" (click)="openPdf()">
                Print
              </button>
              <button
                *ngIf="readOnly"
                mat-button
                class="non-selected-btn-112"
              >
                {{getDate(pdfCreatedAt)}}
              </button>
              <!-- <a [href]="PdfData" download="file.pdf">Print</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
          <canvas
            id="my-pdf-canvas-221"
            class=" {{ pageLoaded ? 'shadowmt' : '' }} "
          ></canvas>
        </div>
      </div>
    </div>
    <div
      class="col-md-4 doc-form"
      *ngIf="!readOnly"
      style="background-color:#F8F8F6; padding-bottom: 5%;"
    >
      <h3>Doucment Details</h3>
      <form [formGroup]="docDetails">
        <mat-form-field appearance="fill">
          <input
            matInput
            placeholder="Document Name"
            formControlName="fcDocName"
          />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Choose a Department</mat-label>
          <mat-select formControlName="fcDept">
            <mat-option [value]="dept" *ngFor="let dept of departments"
              >{{ dept }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Choose a Type</mat-label>
          <mat-select formControlName="fcTypes">
            <mat-option [value]="type" *ngFor="let type of docTypes"
              >{{ type }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <textarea
            matInput
            placeholder="Comment"
            formControlName="fcComment"
          ></textarea>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Tags</mat-label>
          <input
            type="text"
            aria-label="Number"
            matInput
            [formControl]="fcUserTag"
            placeholder="custom tag"
            (keyup.enter)="onCustomTag()"
          />
          <mat-select formControlName="fcTags" multiple>
            <mat-option [value]="tag" *ngFor="let tag of docTags"
              >{{ tag }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </form>
      <br />

      <!-- <mat-form-field>
        <label matLabel>Add User</label>
        <input type="text" matInput [formControl]="fcUserInput" />
      </mat-form-field> -->

      <mat-form-field class="example-full-width" appearance="fill">
        <label matLabel>Add User</label>
        <input
          type="text"
          aria-label="Number"
          matInput
          [formControl]="fcUserInput"
          [matAutocomplete]="auto1"
          appearance="fill"
        />

        <mat-autocomplete #auto1="matAutocomplete">
          <ng-container *ngIf="fetchedUsers">
            <mat-option
              *ngFor="let user of fetchedUsers"
              [value]="user.id"
              (click)="setSelected(user.id)"
            >
              {{ user.id }}
            </mat-option>
          </ng-container>
          <ng-container *ngIf="!fetchedUsers">
            <mat-option>
              Searching...
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
      <!-- <mat-option
        *ngFor="let user of fetchedUsers"
        [value]="user.id"
        (click)="setSelected(user.id)"
        >{{ user.id }}</mat-option
      > -->
      <!-- <mat-list>
          <h3 mat-subheader>Selected Account</h3>
          <mat-list-item>
              <mat-icon mat-list-icon>account_circle</mat-icon>
              <h5 mat-line >{{selectedUserAccountId ? selectedUserAccountId : "*No account selected"}}</h5>
          </mat-list-item>
          <mat-divider></mat-divider>
      </mat-list> -->

      <mat-list *ngIf="sings.length > 0">
        <h3 mat-subheader>Signed users</h3>
        <mat-list-item *ngFor="let sign of sings">
          <mat-icon
            mat-list-icon
            (click)="removeSign(sign.accountId, sign.pageNo)"
            style="cursor: pointer;"
            >delete_forever</mat-icon
          >
          <div mat-line>
            {{ sign.accountId }}
            <span style="font-weight: 700;">page: {{ sign.pageNo }}</span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

      <!-- <h5>
        Selected Account:
        {{
          selectedUserAccountId ? selectedUserAccountId : "*No account selected"
        }}
      </h5> -->
      <!-- <button mat-button type="button" style="color:#1cd390" (click)="saveSignatures()">
        Save signatures
      </button> -->
      <button
        mat-button
        type="submit"
        style="background-color:#1cd390;color:white;"
        (click)="onSubmit()"
      >
        Publish
      </button>
    </div>
  </div>
</div>
