.selected-btn-112 {
  color: #fefefe !important;
  background: #1cd390;
}
.non-selected-btn-112 {
  color: #1cd390;
  background: #00000000;
}
.shadowmt {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
:host {
  color: #000000;
}
.row-line {
  display: flex;
}
.doc-container {
  position: relative;
}
.doc-form {
  position: fixed;
  right : 0;
  z-index: 99;
  top:20%;
  bottom: 0;
  overflow-y:scroll;
  overflow-x:hidden;
}
.doc-form > * {
  width : 100%;
}

form > * {
  width : 100%;
}