<div class="row login-main my-container">
  <div class="col-md-6 login-cont">
    <div class="login-view">
      <p class="bm-0 noselect">
        <span class="connect-text"><i>lekana</i></span>
      </p>
      <h2 class="login-text">Sign Up</h2>
      <div class="login-form">
        <form [formGroup]="registrationFormGroup">
          <div class="form-group">
            <!-- <label for="inputEmail4">Email</label> -->
            <input
              type="email"
              class="form-control login-inputs"
              id="inputEmail4"
              placeholder="Email"
              formControlName="email"
              autocomplete="off"
              spellcheck="false"
            />
          </div>
          <div class="form-group">
            <!-- <label for="inputEmail4">Email</label> -->
            <input
              type="text"
              class="form-control login-inputs"
              id="inputUsername4"
              placeholder="Username"
              formControlName="username"
              autocomplete="off"
              spellcheck="false"
            />
          </div>
          <div class="form-group">
            <!-- <label for="inputEmail4">Email</label> -->
            <input
              type="text"
              class="form-control login-inputs"
              id="inputPhone4"
              placeholder="Phone Number"
              formControlName="phone"
              autocomplete="off"
              spellcheck="false"
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control login-inputs"
              id="inputPassword4"
              placeholder="Password"
              formControlName="password"
              autocomplete="off"
              spellcheck="false"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control login-inputs"
              id="inputPasswordAgain4"
              placeholder="Password Again"
              formControlName="password_confirm"
              autocomplete="off"
              spellcheck="false"
            />
          </div>
          <div class="form-row">
            <button (click)="registerUser()" class="login-button">Sign Up</button>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12 siginup-account" style="display: inline-flex;">
              <!-- <span class="spacer"></span> -->
              <p>Already have an account?</p>
              <a routerLink="/login">Login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-6 text-right my-sm-hide">
    <img
      src="assets/img/Group_750@2x.png"
      srcset="assets/img/Group_750@2x.png 2x"
      class="right-side-image"
    />
  </div> -->
</div>
