// :host {
//   background-color: #252a43 !important;
// }
.login-main{
  background-color:#ffffff !important;
  height:100%;
  width:100%;
  background-image: url('../../../assets/img/com.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 70% 60%;
}
.login-cont {
  height: 100vh;
  display: table;
  align-items: center;
}
.login-view {
  // padding-top: 200px;
  // margin: auto !important;
  padding-left: 10px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 496px;

  // margin-left: 100px;
}

.right-side-image {
  height: 100vh;
}

.connect-text{
  font-family: Lato, sans-serif;

  font-size: 24px;

  font-weight: 900;

  font-stretch: normal;

  font-style: italic;

  line-height: 1.04;

  letter-spacing: normal;
  color : black;
}

.login-text {
  font-family: Lato, sans-serif;

  font-size: 78px;

  font-weight: 900;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.03;

  letter-spacing: normal;

  text-align: left;

  color: #1cd390;
  margin-bottom: 30px;
}

.login-inputs {
  border-radius: 1px;
  border: solid 1.3px #8f8c8c;
  -webkit-appearance: none;
  margin-top: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 4px;
  font-size: 14px;
  color:#8f8c8c;
  background: none;
  height: 40px;
  width: 100%;
  margin: 0;
  transition: 0.3s;
  box-shadow: inset 0 0 0 none;
}
.remember-me-gorup input {
  background-color: #252a43;
}

.remember-me-gorup label {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.51px;
  text-align: left;
  color: #ffffff;
}
.siginup-account {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.51px;
  text-align: left;
  color: rgba(255, 255, 255, 0.37);
}
.siginup-account a {
  margin-left: 8px;
  color: #35D9A5;
  text-decoration: underline;
}
.siginup-account p {
  color : #8f8c8c;
}
.login-button {
  border-radius: 3px;
  border: none;
  background-color: #CCF7E6;
  color: #35D9A5;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 5px 20px 5px 20px;
}
.login-button:hover {
  background-color: #35D9A5;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .login-view {
    padding-left: 20px;
    width: auto;
    margin-top: 20px;
  }
}
