<div class="container">
  <div class="row" style="padding-top: 50px;">
    <div class="col-md-8 mr-auto ml-auto text-center">
      <h2>Oops!</h2>
      <h4>Page not found</h4>
      <img src="../../../assets/404page.jpg" alt="" />
    </div>
  </div>
</div>
