<div class="my-container">
  <h1>Documents</h1>
  <form [formGroup]="searchForm">
    <div class="form-row align-items-center">
      <div class="col-md-3 my-1">
        <label class="sr-only" for="inlineFormInputGroupUsername"
          >Username</label
        >
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-search"></i></div>
          </div>
          <input
            type="text"
            class="form-control form-control-lg input-user"
            id="inlineFormInputGroupUsername"
            placeholder="Search"
            name="nameTerm"
            formControlName="keyword"
          />
        </div>
      </div>
      <div class="col-md-2 my-1">
        <select
          class="custom-select mr-sm-2 form-control form-control-lg"
          id="inlineFormCustomSelect"
          formControlName="dept"
        >
          <option selected [ngValue]="null">Select Department</option>
          <option *ngFor="let dept of departments" [ngValue]="dept">{{
            dept
          }}</option>
          <!-- <option selected value="*">Select Department...</option>
              <option value="Accounts">Accounts</option>
              <option value="Legal">Legal</option>
              <option value="HR">HR</option>
              <option value="Engineering">Engineering</option>
              <option value="Design">Design</option>
              <option value="Labor">Labor</option>
              <option value="Admin">Admin</option>
              <option value="Network">Network</option>
              <option value="Security">Security</option> -->
        </select>
      </div>
      <div class="col-md-2 my-1">
        <select
          class="custom-select mr-sm-2"
          id="inlineFormCustomSelect"
          formControlName="typ"
        >
          <option selected [ngValue]="null">Select Type...</option>
          <option selected *ngFor="let type of types" [ngValue]="type">{{type}}</option>
          <!-- <option value="purchase_agreements">Purchase Agreements</option>
          <option value="distributor_agreements">Dsitributor Agreements</option>
          <option value="addendum">Addendum</option>
          <option value="other">Other</option> -->
        </select>
      </div>
      <div class="col-md-2 my-1">
        <select
          class="custom-select mr-sm-2"
          id="inlineFormCustomSelect"
          name="status"
          formControlName="status"
        >
          <optgroup>
            <option value="rejected">Rejected</option>
            <option value="approved">Approved</option>
            <option value="verified">Pending</option>
            <option [ngValue]="null">All</option>
          </optgroup>
        </select>
      </div>
      <div class="col-md-2 my-1">
        <select
          class="custom-select mr-sm-2"
          id="inlineFormCustomSelect"
          name="status"
          formControlName="status"
        >
          <optgroup>
            <option selected [ngValue]="null">Company..</option>
            <option [value]="company" *ngFor="let company of companies">{{company}}</option>
          </optgroup>
        </select>
      </div>
      <div class="col-md-1 my-1">
        <button type="submit" class="btn btn-primary btn-md" style="width:100%">Submit</button>
        <!-- <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[15, 30, 60, 100]" [showFirstLastButtons]="true" [length]="meta.total"
        [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
        </mat-paginator> -->
      </div>
    </div>
  </form>
  <div class="row"><br /></div>
  <div class="document-list row" *ngIf="documents">
    <div class="col-lg-3 col-md-4 col-sm-1" *ngFor="let document of documents">
      <app-doc-card [docDetail]="document"></app-doc-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-paginator
        #paginator
        [pageSize]="pageSize"
        [pageSizeOptions]="[15, 30, 60, 100]"
        [showFirstLastButtons]="true"
        [length]="meta.total"
        [pageIndex]="currentPage"
        (page)="handlePage($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
