form{
  font-size: 15px;
  color:#c3c3c3 !important;
  margin: 0 auto;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}
::placeholder{
  color:#c3c3c3 !important;
}

.input-user{
  border: none;
  font-size: 15px;
  color:#c3c3c3 !important;
}


.input-group-prepend,.input-group-text{
  background-color: white;
  color:#c3c3c3 !important;
  border:none
}

optgroup { font-size:12px; }

select,.label-doc-status{
  border: none;
  color:#c3c3c3 !important;
  font-size: 15px;
}
.ck-big{
  height:15px !important;
  width:15px !important;
}

.document-list{
  margin-top:5%;
}
