


<div class="row my-container" style="padding-top:10px;">
    <div class="col-md-8 row mr-auto ml-auto">
      <div class="title">
        <h3>
          Doctor Applications
        </h3>
      </div>
    </div>
    <div class="col-md-8 row mr-auto ml-auto">
      <form class="step-form">
        <div class="form-row">
          <div class="form-group col-md-4">
            <input
              type="text"
              class="form-control form-steps-inputs"
              id="inputName"
              placeholder="Search by user, id"
              autocomplete="off"
              spellcheck="false"
              [formControl]="fc_keyword"
            />
          </div>
          <div class="form-group col-md-4">
            <select
              class="form-control my-select"
              id="inputSelectCity"
              placeholder="Document Status"
              autocomplete="off"
              spellcheck="false"
              [formControl]="fc_doc_status"
              required
            >
              <option selected hidden disabled value="">Document Status</option>
              <option value="pending">Pending</option>
              <option value="approved">Approved</option>
              <option value="incomplete">Incomplete</option>
              <option value="rejected">Rejected</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <button type="button" class="search-button" (click)="listPhysician()">
              Search
            </button>
          </div>
        </div>
      </form>
      <div class="search-result">
        <p>{{ total }} search results</p>
      </div>
    </div>
    <div class="col-md-8 row mr-auto ml-auto">
      <div class="col-md-6 pl-0 pr-0" *ngFor="let item of result_applications">
        <div class="item-view">
          <!-- <div
            class="user-profile-photo"
            alt="profile photo"
            [ngStyle]="{
              'background-image': 'url(' + ' assets/img/profile_images/' + item.idx + '.jpg' + ')'
            }"
          ></div> -->
          <p class="user-name  ml-4" (click)="openModel(true, item)">
            {{ item.name }}
          </p>
          <p class="uploaded-date">{{ item.email }}</p>
          <!-- <p class="uploaded-date">Uploaded on {{ item.uplaoded_on }}</p> -->
          <p class="noselect doc-status {{ item.status }}">
            <i class="fas fa-check-circle" *ngIf="item.status == 'approved'"></i>
            <i class="fas fa-sync-alt" *ngIf="item.status == 'pending'"></i>
            <span class="status-text"> {{ item.status }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="open-modal" class="modal-window " [ngStyle]="modal_style">
    <div class="modal-content">
      <a title="Close" class="modal-close" (click)="openModel(false)">
        <i class="far fa-times-circle"></i>
      </a>
      <div class="modal-title">
        <div
          class="user-profile-photo large"
          alt="profile photo"
          [ngStyle]="{
            'background-image':
              'url(' + ' assets/img/profile_images/' + selected_application.idx + '.jpg' + ')'
          }"
          style="margin-right: 15px;"
        ></div>
        <div style="flex-grow: 1;">
          <h1>{{ selected_application.name }}</h1>
          <p style="justify-content: space-between; display: flex;">
            <span class="noselect doc-status status-text {{ selected_application.status }}">
              <i class="fas fa-check-circle" *ngIf="selected_application.status == 'approved'"></i>
              <i class="fas fa-sync-alt" *ngIf="selected_application.status == 'pending'"></i>
              {{ selected_application.status }}
            </span>
            <span class="spacer"></span>
            <span class="uploaded-date">Uploaded on {{ selected_application.uplaoded_on }}</span>
          </p>
        </div>
      </div>
  
      <div class="step-form">
        <div class="form-row">
          <div class="form-group col-md-7">
            <select
              class="form-control my-select"
              id="inputSelectDialogDocStatus"
              placeholder="Document Status"
              autocomplete="off"
              spellcheck="false"
              [(ngModel)]="selected_application.status"
              required
            >
              <option value="pending">Pending</option>
              <option value="approved">Approved</option>
              <option value="incomplete">Incomplete</option>
              <option value="rejected">Rejected</option>
            </select>
          </div>
          <div class="form-group col-md-5">
            <button
              class="change-status-button search-button"
              style="width:100%;"
              (click)="changeApplicationStatus()"
              *ngIf="!processing"
            >
              Change Status
            </button>
          </div>
        </div>
      </div>
      <div class="my-modal-footer">
        <i
          class="far fa-eye"
          routerLink="/account/application"
          [queryParams]="{ physician_id: selected_application.physician_id }"
        ></i>
        <i
          class="far fa-edit"
          routerLink="/account/application"
          [queryParams]="{ physician_id: selected_application.physician_id }"
        ></i>
        <i class="far fa-trash-alt"></i>
      </div>
    </div>
  </div>
