<div class="login-main">
  <div class="row">
    <div class="col-md-6 col-sm-12 login-cont">
      <div class="login-view">
        <!-- <p class="bm-0">
          <span class="connect-text"><img src="assets/img/logo.png" alt="logo"></span>
        </p> -->
        <div class="logo"><img src="assets/img/logo.png" alt="logo"></div>
        <h2 class="login-text">Login</h2>
        <div class="login-form">
          <form [formGroup]="loginFormGroup">
            <div class="form-group dynamic-row input-box" style="align-items: center;">
              <div class="label-icon"><img src="assets/icons/mail.svg" alt=""></div>
              <div class="text-input">
                  <p>Email</p>
                  <input
                    type="email"
                    class="form-control login-inputs"
                    id="inputEmail4"
                    placeholder="Username/Email"
                    autocomplete="{{ remember_me ? 'on' : 'off' }}"
                    formControlName="email"
                    spellcheck="false"
                  />
              </div>
            </div>
            <div class="form-group dynamic-row input-box" style="align-items: center;">
              <div class="label-icon"><img src="assets/icons/locked.svg" alt=""></div>
              <div class="text-input">
                    <p>Password</p>
                    <input
                    type="password"
                    class="form-control login-inputs"
                    id="inputPassword4"
                    placeholder="Password"
                    autocomplete="{{ remember_me ? 'on' : 'off' }}"
                    formControlName="password"
                    spellcheck="false"
                    />
              </div>


            </div>
            <!-- <div class="form-group dynamic-row" style="align-items: center;">
              <div>
                  <input type="checkbox" formControlName="remember_me" id="remem_me" class="remember-me">
                  <label for="remem_me"></label>
              </div>
              <p class='remember-me-text'>Remeber Me</p>
            </div> -->
            <div class="dynamic-row" style="align-items: baseline;justify-content: space-between;">
              <button (click)="login()" class="login-button">Login</button>
              <div class="siginup-account" style="display:none;">
                <p>Don't have an account?</p>
                <a routerLink="/signup">sign up</a>
              </div>
            </div>
            <div class="form-group"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 main-cover">
      <img src="assets/main-cover-image.png" alt="main-cover" class = "main-img">
    </div>
  </div>
  <app-footer></app-footer>
</div>
