@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './styles/my-global-variables.scss';
@import './styles/theme.scss';

@import '~@angular/cdk/overlay-prebuilt.css';
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
*:focus {
  outline: none !important;
}
// html{
//   font-size: 62.5%;
// }
body {
  font-family: $lato;
  background-color: #F8F8F6 !important;
  color: #fefefe;
  // font-family: 'ZCOOL QingKe HuangYou', cursive !important;

  // input[type='checkbox'] {
  //   display: none;
  // } /* to hide the checkbox itself */
  // input[type='checkbox'] + label:before {
  //   font-family: 'Font Awesome 5 Free';
  //   font-size: 20px;
  //   display: inline-block;
  //   font-weight: 600;
  // }

  // input[type='checkbox'] + label:before {
  //   content: '\f111';
  // } /* unchecked icon */
  // input[type='checkbox'] + label:before {
  //   letter-spacing: 10px;
  // } /* space between checkbox and label */

  // input[type='checkbox']:checked + label:before {
  //   content: '\f058';
  // } /* checked icon */
  // input[type='checkbox']:checked + label:before {
  //   letter-spacing: 10px;
  // } /* allow space for check mark */
}
a {
  color: inherit;
  text-decoration: none;

  :hover{
    color:inherit;
    text-decoration: none;
  }
}
.spacer {
  flex: 1 1 auto;
}
.header-clearfix {
  width: 100%;
  height: 95px;
}

.my-container{
  width:90%;
  margin: 0 auto;
  color: $black;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
table {
  width: 100% !important;
}

td {
  padding-top: 8px !important;
  padding-bottom: 16px !important;
}
.table-cont {
  padding: 16px 16px 16px 16px;
}

.btn-primary {
  background-color: $primary-green !important;
  color: $light-green;
  font-family: $lato-heavy;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: center;
  border:none;
}

.mat-raised-button {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
a.mat-raised-button {
  line-height: 36px !important;
}
.text-area-form-field-container {
  margin-bottom: 10px;
}
.text-area-form-field-container p {
  font-size: 15px;
  margin-top: 0px;
}
.text-area-form-field {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  // box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
}
.flex-row {
  display: flex;
}

.bm-0 {
  margin-bottom: 0;
}
.pl-0 {
  padding-left: 0px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.connect-doctor-icon {
  width: 22.8px;
  height: 24.5px;
  object-fit: contain;
  position: relative;
  bottom: 16px;
  left: 2px;
}
.connect-text {
  width: 125px;
  height: 43px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.31;
  letter-spacing: normal;
  text-align: left;
}

.sm-hide {
  visibility: visible;
}

.dynamic-row {
  display: flex;
}
@media (max-width: 768px) {
  .my-sm-hide {
    visibility: hidden;
    display: none;
  }
  .dynamic-row {
    display: flex;
    flex-direction: row;
  }
}

// textarea:focus,
// input[type="text"]:focus,
// input[type="password"]:focus,
// input[type="datetime"]:focus,
// input[type="datetime-local"]:focus,
// input[type="date"]:focus,
// input[type="month"]:focus,
// input[type="time"]:focus,
// input[type="week"]:focus,
// input[type="number"]:focus,
// input[type="email"]:focus,
// input[type="url"]:focus,
// input[type="search"]:focus,
// input[type="tel"]:focus,
// input[type="color"]:focus,
// .uneditable-input:focus {
//   border-color: rgba(126, 239, 104, 0.8);
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
//   outline: 0 none;
// }
.success-panel {
  color: #02a34d;
  background: #ececec;
  justify-content: center !important;
}

.warn-panel {
  color: #c20101;
  background: #ececec;
  justify-content: center !important;
}

.warn-panel .mat-simple-snackbar,
.success-panel .mat-simple-snackbar {
  font-size: 18px;
  justify-content: center;
}

.modal-title {
  display: flex;
  justify-content: flex-start;
}

.modal-title h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #252a43;
  margin-bottom: 0;
  padding-top: 10px;
}
.modal-title > .uploaded-date {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #aaaaaa;
}
.my-modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-modal-footer i {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  background-color: #eceef0;
  color: #252a43;
  padding: 10px;
  border-radius: 21px;
}
.my-modal-footer i:hover {
  background-color: #252a43;
  color: #eceef0;
  cursor: pointer;
}
.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.modal-window {
  position: fixed;
  background: rgba(#252a43, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  border-radius: 3px;
  // pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 25px;
    background: #ffffff;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close i {
  font-size: 24px;
  padding-left: 28px;
  text-align: center;
  color: #aaaaaa;
}

.modal-close {
  color: #aaaaaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  cursor: pointer;
}

.modal-close i:hover {
  color: #ff9a60;
}

.modal-content.pdf-view {
  width: 80vw;
  min-height: 90vh;
  padding: 10px;
}
.pdf-item {
  width: 100%;
  height: 100%;
  min-height: 80vh;
}
.hover-non-dec:hover {
  text-decoration: none !important;
}

.progress-spinner {
  position: absolute;
  top : 0;
  left : 0;
  width : 100vw;
  height : 100vh;
  z-index: 999;
  background-color: #d3f7ea;
  color : #1cd390;
  opacity: 0.5;

  .spinner-self {
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 1 !important;
  }
}
