<!-- <div class="progress-spinner" *ngIf="isSubmiting">
    <mat-spinner color='#1cd390' class="spinner-self"></mat-spinner>
</div> -->
<div class="my-container">
  <div class="user-icon">
    <img src="assets/icons/add-user.svg" class="user-icon-1" alt="" />
    <!-- <img src="assets/icons/plus.svg" class="user-icon-2">
            <img src="assets/icons/user.svg" class="user-icon-3" style="font-size: 0.8rem"> -->
  </div>
  <h3>Add User</h3>
  <div class="form-container">
    <form [formGroup]="userForm">
      <div class="form-group">
        <input
          class="form-control mb-2 "
          type="text"
          placeholder="Username"
          formControlName="username"
          name="username"
        />
      </div>
      <div class="form-group ">
        <input
          class="form-control mb-2"
          type="email"
          placeholder="Email"
          email
          formControlName="email"
          name="email"
        />
      </div>
      <div class="form-group ">
        <input
          class="form-control mb-2"
          type="text"
          placeholder="Phone number"
          formControlName="phone"
          name="phone"
        />
      </div>
      <div class="form-group">
        <label>Role</label>
        <select class="form-control mb-2" formControlName="role">
          <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Departments</label>
        <select class="form-control mb-2" formControlName="dept">
          <option *ngFor="let dept of departments" [ngValue]="dept"
            >{{dept}}</option
          >
        </select>
      </div>
      <div class="form-group">
        <label>Company</label>
        <select class="form-control mb-2" formControlName="company">
          <option *ngFor="let com of companies" [ngValue]="com">{{com}}</option>
        </select>
      </div>
      <!-- <div class="form-group ">
                <textarea class="form-control form-control-lg" rows="3" placeholder="Bio" aria-describedby="textAreaTextLimit"></textarea>
                <small id="textAreaTextLimit" class="form-text text-muted" style="font-size:1rem">
                    Max 120 Characters
                </small>
            </div> -->
      <div class="float-sm-right">
        <!--You can add col-lg-12 if you want -->
        <button
          class="btn-info btn btn-md"
          type="button"
          routerLink="/app/users"
        >
          Cancel
        </button>
        <span>&nbsp; &nbsp; &nbsp;</span>
        <button
          class="btn-success btn btn-md"
          type="submit"
          (click)="onSubmit()"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
